/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1300px){
	
	.product_description{
		width: 210px;
	}
	
}

@media only screen and (max-width: 991px){
	
	body{min-width:768px;}
	
}

@media only screen and (max-width: 767px) {
 	body{min-width:420px;}

 	.responsive_table th,.responsive_table thead{
 		display: none;
 	}

 	.responsive_table,
 	.responsive_table td,
 	.responsive_table tr,
 	.responsive_table tbody{
 		display: block;
 	}

 	.responsive_table tbody tr:not(:first-child){
 		padding: 20px 0;
 	}

	.responsive_table td{
		padding: 7px 15px 7px 50px;
		position: relative;
	}

	.responsive_table td:before{
		content: attr(data-th);
		font-family: 'Material Icons';
		font-size: 20px;
		line-height: 22px;
		display: block;
		position: absolute;
		width: 75px;
		left: 15px;
		top: 10px;
	}

	.characteristic_btn_wrapp{
		text-align: right;
	}

	.product_description{
		width: auto;
	}
	
	.sortable_table td:first-child,
	.sortable_table th:first-child{display: none;}
	.product_desc_char>li{
		display: block;
	}

	.product_desc_char>li>span{
		display: block;
	}

	.product_desc_char_val{
		padding-left: 0;
	}

	.cell_inner{min-height: 0;}

}

@media only screen and (max-width: 479px){
 	body{min-width:300px;}
 	nav .brand-logo{
 		font-size: 1rem;
 	}

 	.modal{
 		width: auto;
 		margin: 0 10px;
 	}

 	.modal .modal-content{
 		padding: 5px 10px;
 	}

	.characteristic_btn_wrapp>*:not(:last-child){
		margin-right: 3px;
	}

	.btn1{
		font-size: 11px;
	}
}