/* 
-----------------------------------------------------
  Stylesheet Guide
-----------------------------------------------------
  
  1. Default stylesheets

    1.1. Color Schemes
  
  2. General classes
  
  3. Main

    3.1 Offsets

  4. Basic Elements

    4.1. Typography
    4.2. Lists
    4.3. Buttons
    4.4. Forms
    4.5. Tables
    4.6. Tooltips
    4.7. Dividers

  5. Widgets and Shortcodes

  6. Header

    6.1. Logo
    6.2. Main Navigation

  7. Footer

*/
@import "animate.css";
@import "../fonts/font-awesome-4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic');
/* ------------------------------------------------

    1. Default stylesheets

------------------------------------------------ */


  html,body{
    height: 100%;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    color:#787575;
    font-size:14px;
    line-height:22px;
    background:#fff;
    -webkit-text-size-adjust: none;
  }

  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  ::selection{
    color: #fff;
    background-color: #22cfef;
  }

  ::-moz-selection{
    color: #fff;
    background-color: #22cfef;
  }

  ::-webkit-scrollbar{
    background: #cdcdcd;  
    width: 10px;
  }

  ::-webkit-scrollbar-thumb{background: #333131;}


  ::-webkit-input-placeholder{
    color:#505050;
    -webkit-transition: text-indent .5s ease, color .5s ease;
            transition: text-indent .5s ease, color .5s ease;
  }

  input::-moz-placeholder{
    color:#505050;
    opacity:1;
  }

  textarea::-moz-placeholder{
    color: #505050;
    opacity: 1;
  }

  ::ms-input-placeholder{
    color:#505050;
  }

  [placeholder]:focus::-webkit-input-placeholder{
    text-indent:10em;
    color:transparent;
  }


  /* --------------------------------------------
        1.1. Color Schemes
  -------------------------------------------- */
    
      

/* ------------------------------------------------

    2. General Classes

------------------------------------------------ */

  .align_left{
    text-align: left;
  }

  .align_right{
    text-align: right;
  }

  .align_center{
    text-align: center;
  }

  .alignleft{
    float: left;
  }

  .alignright{
    float: right;
  }

  .wrapper{overflow: hidden;}

  .hide{ display: none;}

  .show{ display: block;}

  .d_ib{display: inline-block;}

  .transparent{ opacity:0; }

  .invisible{ 
    opacity: 0;
    visibility: hidden;
  }

  .visible{ 
    opacity:1; 
    visibility: visible;
  }

  .p_abs{position: absolute;}

  .p_rel{position: relative;}

  .p_fix{position: fixed;}
  
  .p_sticky{position: sticky;}

  .clear {clear:both;width:100%;line-height:0;font-size:0;}

  .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .reg {text-transform:uppercase}
  
  .fw400{font-weight: 400;}
  .fw600{font-weight: 600;}
  
/* ------------------------------------------------

    3. Main

------------------------------------------------ */
  
  #content{
    -webkit-flex-grow: 10;
    -moz-flex-grow: 10;
    -ms-flex-grow: 10;
    -o-flex-grow: 10;
    flex-grow: 10;
    display: block;
    padding:50px 0px 0px 0px;
  }

  #content.valign_center{
    padding-top: 50px;
    padding-bottom: 50px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    ---webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }

  .page_wrap{
    position: relative;
    min-height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    ---webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }

  .back_to_top{
    border: none;
    outline: none;
    position: fixed;
    top: 50px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background-color: #333;
    z-index: 99;
    cursor: pointer;
  }

  .back_to_top:hover{
    background-color: #f59600;
  }

  .back_to_top i{
    font-size: 30px;
    line-height: 30px;
    margin: 0;
  }

  .row{
    margin-left: -.75rem;
    margin-right: -.75rem;
  }

  /* --------------------------------------------
        3.1. Offsets
  -------------------------------------------- */
    
    .section_offset{
       padding: 55px 0;
    }
    
    .title_offset{
      margin: 0 0 25px;
    }

    .title_offset1{
      margin-bottom: 30px;
    }

    .mb0{margin-bottom: 0;}

    .row{
      margin-bottom: 10px;
    }
    .ml15{margin-left: 15px;}

/* ------------------------------------------------

    4. Basic Elements

------------------------------------------------ */
  
  /* --------------------------------------------
        4.1. Typography
  -------------------------------------------- */
    a:hover{
      color: #ffe200;
    }

    .link_type1{
      color: inherit;
    }

    .link_type1:hover{
      color: #ffe200;
    }
    .title_box1{
      color: #fff;
      padding: 20px 0 20px 15px;
    }

    .title_box2{
      padding: 20px 15px;
    }

  /* --------------------------------------------
        4.2. Lists
  -------------------------------------------- */
      
    .definition_list{
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      ---webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    .definition_list>dt{
      font-weight: 700;
      -webkit-flex-basis: 40%;
      -moz-flex-basis: 40%;
      -ms-flex-basis: 40%;
      -o-flex-basis: 40%;
      flex-basis: 40%;
      margin-bottom: 10px;
    }
    .definition_list>dd{
      margin: 0;
      -webkit-flex-basis: 60%;
      -moz-flex-basis: 60%;
      -ms-flex-basis: 60%;
      -o-flex-basis: 60%;
      flex-basis: 60%;
      margin-bottom: 10px;
    }

  /* --------------------------------------------
        4.3. Buttons
  -------------------------------------------- */
    
    button{
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }
    
    button:hover{
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }

    .btn{
      display: inline-block;
      outline: none;
      background: #;
      color: #;
    }

    .btn:hover{
      background-color: #;
      color: #;
    }

    .add_btn{
      position: fixed;
      bottom: 20px;
      right: 20px;
      color: #000;
    }

    .add_btn i{
      color: #000;
    }

    .btn_box{
      margin-top: -5px;
    }

    .btn_box>*{
      margin-top: 8px;
    }

    .btn1:hover{
      color: #FFF;
      background-color: #616161 !important;
    }


    .btn_radius{
      border-radius: 18px;
    }
  
    .btn2{
      background-color: #ffeb3b;
      color: #000;
      font-weight: 600;
    }

    .btn2:hover{
      background-color: #212121;
      color: #ffeb3b;
    }

    .btn_light1{
      background: none;
      color: #000;
      border: 2px solid #212121;
    }

    .btn_light1:hover{
      background-color: #212121;
      color: #fff;
    }

    .btn_light1.btn-large{
      line-height: 50px;
    }


  /* --------------------------------------------
        4.4. Forms
  -------------------------------------------- */
    .input-field>label{white-space: nowrap;}

    fieldset{
      margin: 10px 0;
      padding: 20px 20px;
      border-radius: 8px;
      border: 1px solid #dedede;
    }

    .own_text_box{
      display: none;
      opacity: ;
    }

   div.error_message{
      position: relative;
      min-height: 18px;
      display: block;
      font-size: 12px;
      color: #F44336;
    }

    input.error_message,
    textarea.error_message{
      border-bottom: 1px solid #F44336 !important;
      -webkit-box-shadow: 0 1px 0 0 #F44336 !important;
      box-shadow: 0 1px 0 0 #F44336 !important;
    }
    select{
      position: absolute;
      display: block;
      border: none;
      background: none;
      outline: none;
      border-radius: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      /*opacity: 0;*/
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      font-size: 0;
      z-index: 3;
      pointer-events: none;
    }

    select.error_message{
      border-bottom: 2px solid #F44336;
    }

    .select-wrapper div.error_message{
      position: absolute;
      top: 100%;
      margin-top: 5px;
    }
  /* --------------------------------------------
        4.5. Tables
  -------------------------------------------- */

    table:not(:last-child){
      margin-bottom: 30px;
    }
    .table-striped thead tr{
      border-bottom: 2px solid #dedede;
    }

    .table-striped tfoot tr:last-child{
      border: none;
    }

    .table-striped tbody tr:nth-child(odd){
      background-color: rgba(242,242,242,0.5);;
    }

    .table-striped tbody tr{
      border-bottom: 1px solid #dedede;
    }

    .table-striped tbody tr:hover{
      background-color: #e8e8e8;
    }
	
    .table-striped th,
    .table-striped td{
      padding: 5px 15px;
    }

    .table-striped th{
      padding: 5px 15px 10px;
      font-weight: 600;
      color: #ababab;
    }

    .handle{
      padding: 5px 0;
      display: block;
      cursor: move;
      margin-top: 13px;
    }

    .handle>img{
      width: 20px;
    }

    .sortable_table td:first-child,
    .sortable_table th:first-child{
      padding: 5px 0;
    }
    .sortable_table td:nth-child(2),
    .sortable_table th:nth-child(2){
      padding-left: 0;
    }

    .w30p{
      width: 30%;
    }

  /* --------------------------------------------
        4.6. Tooltips
  -------------------------------------------- */

  /* --------------------------------------------
        4.7. Dividers
  -------------------------------------------- */
    
    .divider1{
      border: none;
      border-top: 1px solid #dedede;
      margin: 30px 0;
    }

/* ------------------------------------------------

    5. Widgets and Shortcodes

------------------------------------------------ */

  /* --------------------------------------------
        5.1. Search
  -------------------------------------------- */

    .search_wrap{
      border-radius: 27px;
      border: 1px solid #dedede;
      overflow: hidden;
      position: relative;
      z-index: 10;
    }

    .search_wrap:not(:last-child){
      margin-bottom: 40px;
    }

    .search_wrap .input-field{
      height: 30px;
    }

    .search_wrap .label-icon i{
      font-size: 2rem;
    }

    .search_wrap.focus{
      -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
      box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    }

    .search_wrap_overflow{
      position: fixed;
      opacity: 0;
      visibility: hidden;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255,255,255,0.5);
      z-index: 9;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    .search_wrap_overflow.active{
      opacity: 1;
      visibility: visible;
    }
	
/* --------------------------------------------
        5.2. copy link
-------------------------------------------- */
   

    .copy_link_text{
      opacity: 0;
      /*visibility: hidden;*/
      position: fixed;
      z-index: -5;
    }
/* --------------------------------------------
        5.3. Info Modal
-------------------------------------------- */

    .info_modal{
      position: fixed;
      z-index: 99;
      bottom: 20px;
      left: 20px;
      width: 300px;
      padding: 20px;
      border-radius: 5px;
      color: #fff;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
      box-shadow: 0 2px 10px rgba(0,0,0,0.2);
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    .info_modal.active{
      opacity: 1;
      visibility: visible;
    }

   .info_modal_close{
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }

    .info_modal_close:hover{
      color: #000;
    }

/* ------------------------------------------------

    6. Header

------------------------------------------------ */
   
  header {}


  /* --------------------------------------------
        6.1. Logo
  -------------------------------------------- */

    .logo{}

    .logo a{
      display:block;
      width:278px;
      height:85px;
      background:url(../images/logo.png) 0 0 no-repeat;
      text-decoration:none;
      text-indent:-9999px;
    }

  /* --------------------------------------------
        6.2. Main Navigation
  -------------------------------------------- */



/* ------------------------------------------------

    7. Footer

------------------------------------------------ */

  #footer{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }


/* ------------------------------------------------

    Content

------------------------------------------------ */
  
  .collapsibles_list .collapsible{
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }

  .collapsibles_list .collapsible-header{
    background: none;
    border: none;
  }

  .collapsibles_list .collapsible-header:hover{
    background-color: #e8e8e8;
  }

  .popup-gallery{
    margin: 10px;
    padding: 20px 0;
    border-radius: 8px;
    border: 1px solid #dedede;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    -o-justify-content: flex-start;
    justify-content: flex-start;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }

  .popup-gallery>.col{
    float: none;
    margin-left: 0 !important;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    -o-flex-shrink: 0;
    flex-shrink: 0;
  }

  .gallery_label{
    display: block;
    text-align: center;
    margin: 15px 0 10px;
  }

  .gallery_link{
    display: block;
  }

  .gallery_link img{
    max-width: 70%;
  }

  .characteristic_list>li.collection-item{
    position: relative;
    padding-right: 35px;
  }

  .characteristic_list_icon{
    position: absolute;
    top: 50%;
    right: 20px;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .characteristic_list>li.active .characteristic_list_icon{
    opacity: 1;
  }

  .characteristic_item.char_hidde {
    /*opacity: 0.5;*/
  }

  .grey-text{
    padding-right: 10px;
  }

  .characteristic_btn_wrapp,
  .settings_btn_wrapp{
    margin-top: 30px;
  }

  .characteristic_btn_wrapp>*:not(:last-child),
  .settings_btn_wrapp>*:not(:last-child){
    margin-right: 10px;
  }

  .characteristic_btn_wrapp>*,
  .settings_btn_wrapp>*{
    color: #000;
  }


  .characteristic_btn_wrapp>*:hover,
  .settings_btn_wrapp>*:hover{
    color: #ffe200;
  }

  .add_new_char_box{
    display: none;
  }

  .settings_edit_btn>i:before{
    content: attr(data-val);
  }

  .settings_edit_btn.active>i:before{
    content: attr(data-save);
  }
  .product_description{
    padding: 10px 0;
    width: 350px;
  }

  .product_desc_img>*{
    max-width: 100px;
    max-height: 85px;
  }
  
  .product_title{
    color: #000;
    font-weight: 600;
    margin-top: 16px;
    text-transform: uppercase;
  }
  
  .product_desc_char_label{
    position: relative;
    border-bottom: 1px solid #dedede;
    padding-bottom: 5px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .product_desc_char_label:hover{
    color: #000;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .product_desc_char_label_icon{
    display: block;
    position: absolute;
    top: 50%;
    right: 5px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .product_desc_char_name{
    white-space: nowrap;
  }

  .product_desc_char{
    padding: 10px 0;
    display: none;
    font-size: 12px;
    line-height: 20px;
  }

  .product_desc_char>li{
    margin-bottom: 8px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
  }

  .product_desc_char_val{
    padding-left: 10px;
  }
  
  .js-load_preview_box{
    width: 50px;
    position: relative;
  }

  .js-load_preview_box>img{
    width: 100%;
  }

  .js-load_preview_close{
    position: absolute;
    top: -8px;
    right: -8px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    text-align: center;
    font-size: 10px;
    line-height: 15px;
  }

  .js-load_preview_close:hover{
    color: red;
  }

  .preview_box_wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }
  .preview_box_wrapper .file-path-wrapper{
    -webkit-flex-grow: 10;
    -moz-flex-grow: 10;
    -ms-flex-grow: 10;
    -o-flex-grow: 10;
    flex-grow: 10;
  }

  .file_preview_box{
    width: 50px;
    margin-right: 10px;
  }

  .file_preview_box>a>img{
    width: 100%;
  }
  .errors_form {
	  color: red;
	  position: relative;
	  height:auto;
  }

  .pagination li.active{
    background-color: #ffe200;
  }
  
  .sortable_table td{
    vertical-align: top;
  }

  .cell_inner{
    min-height: 54px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    font-weight: 600;
  }

  .cell_inner .input-field,
  .cell_inner input{
    margin: 0 !important;
  }

  .cell_inner input{
    height: 1.4rem !important;
  }


  /**/
  .table_total_list{
    padding-top: 10px;
  }

  .total_item{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
  }

  .btn, .btn-large, .btn-small{
    border-radius: 36px;
    -webkit-box-shadow: -2px 5px 15px rgba(0,0,0,0.3);
    box-shadow: -2px 5px 15px rgba(0,0,0,0.3);
  }

  .choice_checkbox{
    margin: 18px 0 8px 0;
  }
  .btn_box_sticky{
    background-color: rgba(255,255,255,0.9);
    position: sticky;
    margin-left: -15px;
    margin-right: -15px;
    bottom: 0;
    z-index: 9;
  }

  .js_add_total_modif{
    display: none;
    /*opacity: 0;
    visibility: hidden;*/
  }

  .js_add_total_modif.active{
    display: inline-block;
    /*opacity: 1;
    visibility: visible;*/
  }

  
  [data-text-desctop]:before{
    content: attr(data-text-desctop);
  }


  /*18,05,2020*/

  .filter_item{
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
  }

  .filter_item>img{
      width: 20px;
      margin-right: 10px;
      -webkit-flex-shrink: 0;
      -moz-flex-shrink: 0;
      -ms-flex-shrink: 0;
      -o-flex-shrink: 0;
      flex-shrink: 0;
  }

  .filter_item *:not(img){
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -o-flex-grow: 1;
    flex-grow: 1;
  }

  .filter_item>.row{
    margin-bottom: 0;
  }

  .filter_fieldset{
    border-radius: 30px;
  }

  .filter_fieldset>.row{
    margin-bottom: 0;
  }

  .box_wrapp{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    margin-left: -.75rem;
    margin-right: -.75rem;
  }

  .box_wrapp_inner1{
    -webkit-flex-grow: 10;
    -moz-flex-grow: 10;
    -ms-flex-grow: 10;
    -o-flex-grow: 10;
    flex-grow: 10;
    padding-left: .75rem;
    padding-right: .75rem;
  }

  .box_wrapp_inner2{
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    -o-flex-shrink: 0;
    flex-shrink: 0;
    padding-left: .75rem;
    padding-right: .75rem;
    /*overflow: hidden;*/
  }
